<h1>{{title}}</h1>
<hr>

<h2>{{num | number :"3.2"}}</h2>
<h2>{{str | uppercase }}</h2>
<h2>{{str | titlecase }}</h2>
<h2>{{str | lowercase }}</h2>
<h2>{{str | slice : 1:-3 }}</h2>

<hr>
<h2>{{time}}</h2>
<h2>{{time.getHours() + ':' + time.getMinutes()}}</h2>
<h2>{{time | date : "fullDate"}}</h2>
<h2>{{time | date : "dd MMMM yyyy"}}</h2>

<p>{{ myObj }}</p>
<p>{{ myObj | json}}</p>
<pre>{{ myObj | json}}</pre>

<hr>

<h2>{{ 2 | mult : 56}}</h2>

<hr>

<button (click)="fieldset = 'title'">Title</button>
<button (click)="fieldset = 'text'">Text</button>
<label>
    <input type="text" [(ngModel)]="search" >
</label>
<div *ngFor="let p of posts | myFilter : search : fieldset" >
    <h1>{{p.title}}</h1>
    <p>{{p.text}}</p>
</div>

<hr>

<h1>ждеммсс.... {{ myPromise | async }}</h1>
