h1{
    font-size: 2rem ;
    font-family: "Arial Rounded MT Bold";
}
p{
    font-size: 1.1rem;
    font-family: "Arial Rounded MT Bold";
}
.box{
    background-color: cornflowerblue;
    padding: 20px;
}

.content {
    border: 1px solid;
    padding: 10px;
    color: blue;
}
.box2 {
    background-color: darkturquoise;
}
