<h1>{{ smart.title }}</h1>
<p>{{ 22 + 121 }}</p>

<img [src]="img" alt="" />

<p>
    <label>
        <input type="text" (keyup)="onKey($event)" />
        <input type="text" (input)="onInput($event)" />
    </label>
</p>
<p>
    <strong>{{ inputValue }}</strong>
</p>

<label>
    <input type="text"
           (keyup.enter)="onEnter()"
           (blur)="onBlur(myInputID.value)"
           #myInputID
    />
</label>

<app-header></app-header>
<app-post></app-post>
<app-test></app-test>
<app-footer></app-footer>
